{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "targets" 浏览器需要兼容的浏览器,会自动识别.browserslistrc
        "useBuiltIns": "usage", //不需要import,全自动检测,按需注入
        "corejs": 3 //babel7需要指定核心库版本(该包替换了@babel/polyfill)
      }
    ]
  ]
}

// useBuiltIns 选项是 babel 7 的新功能，这个选项告诉 babel 如何配置 @babel/polyfill 。 它有三
// 个参数可以使⽤： ①entry: 需要在 webpack 的⼊⼝⽂件⾥ import "@babel/polyfill" ⼀
// 次。 babel 会根据你的使⽤情况导⼊垫⽚，没有使⽤的功能不会被导⼊相应的垫⽚。 ②usage: 不需要
// import ，全⾃动检测，但是要安装 @babel/polyfill 。（试验阶段） ③false: 如果你 import
// "@babel/polyfill" ，它不会排除掉没有使⽤的垫⽚，程序体积会庞⼤。(不推荐)
