html,
body {
  font-family: 'webfont';
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
  transform: rotate(0deg);
}

/** 自定义字体 */
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('../assets/fonts/webfont.woff2') format('woff2');
}
