body {
  background: blue;
  font-family: 'webfont';
}

#app {
  width: 500px;
  height: 500px;
  transform: rotate(1deg);
  border: 1px solid red;
}

/** 自定义字体 */
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('webfont.woff2') format('woff2');
}
